In [8]:
my_list = ['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']
# print list from 0 to 7 with step 2
print(my_list[0:7:2])

['friends', 'countrymen', 'me', 'ears']

In [9]:
print(my_list[::-1])

['ears', 'your', 'me', 'lend', 'countrymen', 'romans', 'friends']

In [13]:
my_tuple = ('I', 'have', 30, 'cats')
print( my_tuple)

('I', 'have', 30, 'cats')

In [16]:
my_tuple[1:3]

('have', 30)

In [17]:
my_other_tuple = ('make', 'that', 50)
print (my_tuple + my_other_tuple)

('I', 'have', 30, 'cats', 'make', 'that', 50)

In [18]:
str_1, str_2, int_1 = my_other_tuple
print (str_1, str_2, int_1)

make that 50

In [19]:

things_i_like = {'dogs', 7, 'the number 4', 4, 4, 4, 42, 'lizards', 'man I just LOVE the number 4'}
print (things_i_like, type(things_i_like))

{4, 7, 42, 'the number 4', 'lizards', 'dogs', 'man I just LOVE the number 4'} <class 'set'>

In [20]:

animal_list = ['cats', 'dogs', 'dogs', 'dogs', 'lizards', 'sponges', 'cows', 'bats', 'sponges']
animal_set = set(animal_list)

In [21]:
print (animal_set | things_i_like)
print (animal_set & things_i_like)

{'sponges', 4, 7, 42, 'the number 4', 'bats', 'dogs', 'lizards', 'cats', 'cows', 'man I just LOVE the number 4'}
{'dogs', 'lizards'}

In [22]:
my_dict = {"High Fantasy": ["Wheel of Time", "Lord of the Rings"], 
           "Sci-fi": ["Book of the New Sun", "Neuromancer", "Snow Crash"],
           "Weird Fiction": ["At the Mountains of Madness", "The House on the Borderland"]}

In [23]:
print (my_dict["Sci-fi"])

['Book of the New Sun', 'Neuromancer', 'Snow Crash']

In [24]:
my_dict["Sci-fi"] = "I can't read"
print (my_dict["Sci-fi"])

I can't read

In [25]:

my_dict["Historical Fiction"] = ["Pillars of the Earth"]
print (my_dict["Historical Fiction"])

['Pillars of the Earth']